{% extends "index.html" %}

{% block content %}
  <div class="row">
    <h3>Login</h3><hr/>
    {% include "fragments/login_form.html" %}
  </div>
{% load socialaccount %}

<a class="btn btn-primary"
   role="button"
   href="{% provider_login_url 'google' %}">Google
</a>
<a class="btn btn-primary"
   role="button"
   href="{% provider_login_url 'twitch' %}">Twitch
</a>
<a class="btn btn-primary"
   role="button"
   href="{% provider_login_url 'facebook' %}">Facebook
</a>
<a class="btn btn-primary"
   role="button"
   href="{% provider_login_url 'instagram' %}">Instagram
</a>
{% endblock %}